// Neste arquivo iremo criar as fontes necessárias para o site.
// Todo @ no CSS é um diretiva, algo que muda o comportamento do CSS
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}